@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #151515;

  --color-bulb-glow: rgba(255, 255, 180, 0.8);
  --color-bulb-glow-intense: rgba(255, 255, 200, 1);

  --ease-glow: ease-in-out;
}

.dark {
  --background: #151515;
  --foreground: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--foreground);
}

body::-webkit-scrollbar {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.z-overlay {
  z-index: 1000;
}

.overlay-fade-in::after {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  animation: fadeIn 1s forwards;
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes glow {
    0%,
    100% {
      filter: brightness(2.5) drop-shadow(0 0 5px rgba(255, 255, 180, 1))
        drop-shadow(0 0 25px rgba(255, 255, 180, 0.8))
        drop-shadow(0 0 50px rgba(255, 255, 200, 0.6))
        drop-shadow(0 0 100px rgba(255, 255, 220, 0.4));
    }
    50% {
      filter: brightness(3) drop-shadow(0 0 10px rgba(255, 255, 200, 1))
        drop-shadow(0 0 40px rgba(255, 255, 220, 0.9))
        drop-shadow(0 0 80px rgba(255, 255, 230, 0.7))
        drop-shadow(0 0 160px rgba(255, 255, 250, 0.5));
    }
  }

  @media (min-width: 640px) {
    .dark .animate-glow {
      animation: glow 2s var(--ease-glow) infinite;
    }
  }

  @media (hover: none) and (pointer: coarse) {
    .touch\:hidden {
      display: none;
    }
  }
}
